---
import HeroText from "@components/HeroText.astro";
import Layout from "../layouts/Layout.astro";
import ImageGrid from "@components/ImageGrid.astro";
import GridSingleImage from "@components/GridSingleImage.astro";

const imagesConfig = [
  {
    imagePath: "/src/assets/images/1.jpg",
    altText: "Brand 1",
    brandName: "Test",
  },
  {
    imagePath: "/src/assets/images/2.jpg",
    altText: "Brand 2",
    brandName: "Test",
  },
  {
    imagePath: "/src/assets/images/3.jpg",
    altText: "Brand 3",
    brandName: "Test",
  },
  {
    imagePath: "/src/assets/images/5.jpg",
    altText: "Brand 4",
    brandName: "Test",
  },
  {
    imagePath: "/src/assets/images/6.jpg",
    altText: "Brand 5",
    brandName: "Something",
  },
  {
    imagePath: "/src/assets/images/4.jpg",
    altText: "Brand 6",
    brandName: "Test",
  },
];
---

<Layout title="OH.STUDIO">
  <HeroText text="A brand and product designer working with clients globally">
    <div class="pill-wrapper">
      <span>Expertise</span>
      <span class="pill">Branding</span>
      <span class="pill">Product</span>
      <span class="pill">Design Systems</span>
    </div>
  </HeroText>
  <ImageGrid>
    {
      imagesConfig.map(({ imagePath, altText, brandName }) => (
        <GridSingleImage imagePath={imagePath} altText={altText} brandName={brandName}/>
      ))
    }
  </ImageGrid>
</Layout>

<style>
  .pill-wrapper {
    display: none;
    gap: 1rem;
    font-size: 0.875rem;

    span {
      padding: 0.5rem 0.75rem;
    }
  }

  @media (min-width: 800px) {
    .pill-wrapper {
      display: flex;
    }
  }
  .pill {
    background-color: var(--clr-pill-bg);
    border-radius: 100px;
  }
</style>
