---
import ClientsImage from "./ClientsImage.astro";

export interface Client {
  name: string;
  imagePath: string;
}

interface Props {
  clients: Client[];
}

const { clients } = Astro.props;
---

<div class="clients-grid">
  {
    clients.map(({ name, imagePath }) => {
      return (
          <ClientsImage name={name} imagePath={imagePath} />
      );
    })
  }
</div>

<style>
  .clients-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-auto-rows: 200px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
    color: var(--clr-accent-200);

    .name {
      font-weight: 500;
      color: black;
      font-size: 1.375rem;
    }

    .workplace-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
    }

    .role,
    .time {
      font-size: 0.875rem;
    }
  }

  @media (min-width: 1100px) {
    .clients-grid {
      grid-template-columns: repeat(4, minmax(50px, 1fr));
    }
  }
</style>
