---
interface Props {
  isContact: boolean;
}

const { isContact } = Astro.props;
---

<h2 class=`wrapper ${isContact ? 'contact' : ''}`>
  <span>Let's work together.</span>
  <a href="/">Get in touch.</a>
</h2>

<style>
  :root {
    --font-size-mobile: 1.875rem;
    --font-size-desktop: 2.375rem;
  }

  .contact {
    font-size: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    padding: 5rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing-default);

    a {
      cursor: pointer;
      color: var(--clr-accent-300);
      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media (min-width: 800px) {
    .wrapper {
      font-size: var(--font-size-desktop);
      min-height: 375px;
    }

    .contact {
      font-size: clamp(1.5rem, 5vw + 1rem, 5rem);
      line-height: clamp(1.5rem, 5vw + 1.25rem, 5.25rem);
    }
  }
</style>
