---
const pathname = new URL(Astro.request.url).pathname;
const navLinks = [
  {
    text: "Home",
    path: "/",
  },
  {
    text: "Profile",
    path: "/profile",
  },
  {
    text: "Contact",
    path: "/contact",
  },
];
---

<header>
  <nav>
    <ul>
      {
        navLinks.map(({ text, path }) => {
          return (
            <li class={pathname === path ? "active" : ""}>
              <a href={path}>{text}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>

<style>
  header {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: var(--clr-pill-bg);
    border-radius: 100px;
    padding: 0.3rem 0.5rem;
    gap: 1rem;
  }

  li {
    padding: 0.625rem 1.5rem;
    border-radius: 100px;
    font-size: 0.875rem;
    line-height: 1.05rem;
  }

  .active {
    background-color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }
</style>
