<div class="image-grid">
  <slot />
</div>

<style>
  .image-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-sm);
    max-width: 1400px;
    padding: var(--spacing-sm);
    margin-top: var(--spacing-md);

    img {
      width: 100%;
      object-fit: cover;
      max-height: 300px;
      border-radius: 12px;
      cursor:pointer;
      transition: filter 0.5s ease-in-out;

    }

    img:hover {
      filter: blur(12px) brightness(0.9);
    }
  }

  @media (min-width: 800px) {
    .image-grid {
      grid-template-columns: 1fr 1fr;

      img {
        max-height: 500px;
      }
    }
  }
</style>
