---
import "../style.css";
import "@fontsource-variable/inter";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import GetInTouch from "@components/GetInTouch.astro";

interface Props {
  title: string;
  isContact?: boolean;
}

const { title, isContact = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    {!isContact && <GetInTouch isContact={isContact} />}
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }
</style>
